@model complete_tut.Models.dog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


@Ajax.ActionLink(linkText: "Call An Action",
actionName: "Bark",
    ajaxOptions: new AjaxOptions
    {
        UpdateTargetId = "ajaxtarget",
        InsertionMode = InsertionMode.InsertAfter
    }
)

<div id="ajaxtarget"></div>
